*{
    box-sizing: border-box;
    font-family: 'MyriadPro', sans-serif;
    font-family: 'Gotham', sans-serif;
    font-family: 'FuturaStd', sans-serif;
    font-size: 16px;
    outline: none;
}
body {
    margin: 0;
}
.nav {
    position: relative;
    margin-top: -53px;
    z-index: 10;
}