*{
    box-sizing: border-box;
    font-family: 'MyriadPro', sans-serif;
    font-family: 'Gotham', sans-serif;
    font-family: 'FuturaStd', sans-serif;
    font-size: 16px;
    outline: none;
}
body {
    margin: 0;
    background: #F2F2F2;
}