@media (max-width: 1199px) {
    .logo {
        &-footer {
            font-size: 26px;
            margin-right: 15px;
            &_light {
                font-size: 26px;
                margin: 3px 0 0 5px;
            }
        }
    }
    .selection-menu__hamburger {
        margin-top: 10px;
    }
    .menu {
        &__item {
            padding-right: 20px;
        }
        &-footer {
            flex-wrap: wrap;
            padding: 17px 0;
            &__item {
                padding-right: 10px;
            }
        }
    }
    .carousel {
        .carousel-inner {
            .slider {
                &__img {
                    width: 95%;
                    margin-top: 100px;
                }
                &__title {
                    font-size: 120px;
                }
                &__title2 {
                    font-size: 100px;
                }
                &__subtitle {
                    font-size: 70px;
                }
            }
        }
    }
    .selection-goods {
        &__wrapper {
            padding: 31px 13px 38px 37px;
        }
    }
}


@media (max-width: 991px) {
    .logo {
        &-footer {
            margin-top: 26px;
        }
    }
    .menu {
        &__item {
            padding-right: 20px;
        }
        &-footer {
            &__item {
                padding-right: 15px;
            }
        }
    }
    .carousel {
        .carousel-inner {
            .slider {
                &__img {
                    width: 60%;
                    margin-top: 100px;
                }
                &__title {
                    font-size: 100px;
                    line-height: 60px;
                    margin: 150px 0 0 285px;
                }
                &__title2 {
                    font-size: 80px;
                    line-height: 40px;
                    margin-left: 12px;
                }
                &__subtitle {
                    font-size: 50px;
                    margin-left: 300px;
                }
            }
        }
        .getnow-btn {
            margin-left: 290px;
        }
    }
    .selection-goods__wrapper {
        padding: 31px 60px 38px 60px;
    }
    .selection-menu {
        &__filter {
            width: 180px;
            margin: 0;
        }
    }
    .menu-lists {
        &__list {
            &-1 {
                padding-right: 3px;
            }
            &-2 {
                padding: 3px;
            }
        }
    }
    .catalog-product {
        width: 70%;
    }
    .card-product {
        &__photo {
            width: 100%;
            height: 350px;
            background-size: 90%;
            &-logo {
                width: 179px;
                margin-top: 255px;
            }
        }
        &__small {
            width: 70%;
            &-img {
                width: 110px;
                height: 82px;
            }
        }
        &__purchase {
            width: 100%;
        }
    }
    .save {
        margin-left: 10px;
    }
    .product-menu {
        padding-top: 100px;
    }
    .footer-wrapper {
        flex-direction: column;
    }
}


@media (max-width: 767px) {
    .container, .container-sm {
        max-width: 700px;
    }
    .logo {
        font-size: 50px;
        &_light {
            font-size: 50px;
        }
    }
    .menu {
        &__item {
            padding-right: 15px;
        }
        &__link {
            font-size: 14px;
        }
        &-footer {
            padding: 15px 0;
            &__item {
                padding-right: 5px;
            }
        }
    }
    .carousel {
        padding: 70px;
        .carousel-inner {
            .slick-prev, .slick-next {
                width: 50px;
                height: 50px;
                background-size: 30%;
            }
            .slider {
                flex-direction: column;
                &__img {
                    width: 40%;
                    margin: -120px 0 0 230px;
                }
                &__title {
                    font-size: 100px;
                    line-height: 60px;
                    margin: 52px 0 0 445px;
                }
                &__title2 {
                    font-size: 80px;
                    line-height: 40px;
                    margin-left: 12px;
                }
                &__subtitle {
                    font-size: 50px;
                    margin-left: 460px;
                }
            }
        }
        .getnow-btn {
            margin-left: 450px;
        }
    }
    .selection-goods__wrapper {
        padding: 31px 60px 38px 60px;
    }
    .card-product {
        &__photo {
            background-size: 60%;
        }
        &__small {
            margin: 13px auto 0 auto;
        }
    }
    .star-rating__star {
        margin-top: 40px;
    }
    .share {
        margin-top: 25px;
    }
    .product-menu {
        padding-top: 100px;
    }
}


@media (max-width: 575px) {
    .logo {
        font-size: 30px;
        margin-top: 46px;
        &_light {
            font-size: 30px;
        }
        &-footer {
            margin-top: 26px;
        }
    }
    .header-content .entrance .basket {
        width: 40px;
        padding-right: 16px;
    }
    .menu {
        &__item {
            padding-right: 10px;
        }
        &__link {
            font-size: 14px;
        }
        &-footer {
            padding: 15px 0;
            &__item {
                padding-right: 5px;
            }
        }
    }
    .carousel {
        padding: 0;
        .carousel-inner {
            .slick-prev, .slick-next {
                visibility: hidden;
            }
            .slider {
                flex-direction: column;
                &__img {
                    width: 40%;
                    margin: -120px 0 0 230px;
                }
                &__title {
                    font-size: 100px;
                    line-height: 60px;
                    margin: 85px 0 0 445px;
                }
                &__title2 {
                    font-size: 80px;
                    line-height: 40px;
                    margin-left: 12px;
                }
                &__subtitle {
                    font-size: 50px;
                    margin-left: 460px;
                }
            }
        }
    }
    .getnow-btn {
        margin-left: 450px;
    }
    .getnow-product {
        margin: 0 auto;
    }
    .product {
        width: 208px;
    }
    .catalog-inner {
        &__item {
            height: 330px;
        }
        &__title {
            font-size: 24px;
        }
        &__background {
            width: 150px;
            height: 150px;
        }
    }
    .catalog-product {
        margin-bottom: 100px;
        &__item {
            width: 102px;
            height: 156px;
        }
        &__title {
            font-size: 18px;
        }
        &__background {
            width: 84px;
            height: 84px;
        }
    }
    .menu-lists {
        &__list {
            &-1 {
                padding-right: 5px;
            }
            &-2 {
                padding: 0;
            }
        }
    }
    .card-product {
        &__photo {
            margin: 13px auto 0 auto;
        }
        &__small {
            margin: 13px auto 0 auto;
        }
        &__purchase {
            padding: 0 20px;
        }
    }
    .star-rating__star {
        margin-top: 40px;
    }
    .share {
        margin-top: 25px;
    }
    .product-menu {
        padding-top: 100px;
        &__item {
            padding: 5px 0 0 0;
        }
    }
}