.catalog {
    width: 100%;
    height: auto;
    &-inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        &__item {
            width: 32%;
            height: 385px;
            text-align: center;
            background: #fff;
            border: 1px solid #E6E6EB;
            padding: 17px 0 13px;
            margin-top: -53px;
        }
        &__title {
            font-family: 'Futura Std Light';
            font-size: 30px;
            letter-spacing: 2px;
        }
        &__background {
            width: 173px;
            height: 173px;
            border-radius: 50%;
            margin: 16px auto 20px auto;
            &-first {
                background: url('../img/Layer21@1X.png');
                background-position: 40% 70%;
            }
            &-second {
                background: url('../img/Layer20@1X.png');
                background-position: 59% 45%;
            }
            &-third {
                background: url('../img/Layer22@1X.png');
                background-position: 40% 25%;
            }
        }
        &__icon {
            opacity: 0.9;
            &-1 {
                transform: translateY(35%);
            }
            &-2 {
                transform: translateY(140%);
            }
            &-3 {
                transform: translateY(140%);
            }
        }
        &__total {
            font-family: 'Gotham', sans-serif;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 2px;
            color: #F2262C;
        }
        &__count {
            font-size: 12px;
        }
    }
    &-product {
        width: 50%;
        &__item {
            height: 236px;
            border: none;
            margin-top: 0;
        }
        &__title {
            font-size: 20px;
        }
        &__background {
            width: 104px;
            height: 104px;
            &-first {
                background-size: 100%;
            }
            &-second {
                background-size: 350%;
                background-position: 59% 100%;
            }
            &-third {
                background-size: 100%;
            }
        }
        &__icon {
            &-1 {
                width: 50%;
            }
            &-2 {
                width: 60%;
            }
            &-3 {
                width: 60%;
            }
        }
        &__total {
            font-size: 16px;
        }
        &__count {
            font-size: 10px;
        }
    }
}