.hamburger {
    width: 100%;
    &__list {
        position: relative;
        width: 17px;
        height: 12px;
        padding-left: 1.25em;
        margin: 0 auto;
        margin-top: 5px;
        cursor: pointer;
        &_click {
            .hamburger__item-top {
                top: 6px;
                transform: rotate(50deg);
                transition: 0.35s;
            }
            .hamburger__item-middle {
                visibility: hidden;
                transition: 0.1s;
            }
            .hamburger__item-middle2 {
                visibility: hidden;
                transition: 0.05s;
            }
            .hamburger__item-bottom {
                top: 6px;
                transform: rotate(-50deg);
                transition: 0.35s;
            }
        }
    }
    &__item {
        position: absolute;
        left: 0;
        border-top: 2px solid #614261;
        width: 80%;
        transition: 0.55s;
        &-top {
            top: 0;
        }
        &-middle {
           top: 3px;
        }
        &-middle2 {
            top: 6px;
        }
        &-bottom {
            top: 9px;
        }
    }
    
}