.menu {
    width: 100%;
    background: #FFFFFF;
    border: 1px #E6E6EB solid;
    padding: 17px 40px;
    position: relative;
    margin-top: -53px;
    z-index: 10;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        height: 38px;
        list-style-type: none;
        border-right: 1px #D6D1C7 solid;
        padding-right: 30px;
        &:nth-last-child(-n+2) {
            border-right: none;
        }
    }
    &__link {
        font-family: 'Gotham';
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #444444;
        &:hover {
            color: #065188;
        }
    }
    &__search {
        padding-left: 27px;
    }
    &-footer {
        background: none;
        border: none;
        margin-top: 0;
        &__item {
            height: 15px;
            padding-right: 10px;
            &:nth-child(5) {
                border-right: 1px #D6D1C7 solid;
            }
        }
        &__link {
            font-size: 15px;
            font-weight: normal;
            text-transform: initial;
            color: #fff;
            &:hover {
                color: #5C4344;
            }
        }
    }
}