.product-menu {
    background: #F2F2F2;
    padding-top: 49px;
    &__list {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }
    &__item {
        width: 206px;
        height: 51px;
        font-family: 'Gotham';
        background: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        border: 1px solid #f0eeee;
        padding: 17px 0;
        margin-right: 6px;
        cursor: pointer;
        &:hover, .product-menu__item:focus {
            background: #EE2D23;
            color: #fff;
            text-shadow: 2px 1px 2px black;
        }
        &_active {
            background: #EE2D23;
            color: #fff;
            text-shadow: 2px 1px 2px black;
        }
    }
}