.search {
    width: 200px;
    height: 25px;
    line-height: 29px;
    color: #444444;
    border: 1px #D6D1C7 solid;
    border-radius: 50px;
    background: url('../icon/Loupe-icon.png');
    background-position:  5% 50%;
    background-repeat: no-repeat;
}