* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'MyriadPro', sans-serif;
  font-family: 'Gotham', sans-serif;
  font-family: 'FuturaStd', sans-serif;
  font-size: 16px;
  outline: none;
}

body {
  margin: 0;
}

.header {
  height: 215px;
  background: #F2F2F2;
  padding-top: 44px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content .contacts__img {
  margin: 0 8px 0 31px;
}

.header-content .contacts__link {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.header-content .contacts__link:hover {
  color: #065188;
}

.header-content .entrance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 332px;
  height: 55px;
  background: #F1F1F1;
  border: 1px #FFFFFF solid;
  padding: 0 10px 0 14px;
  margin-top: 18px;
}

.header-content .entrance .basket {
  width: 60px;
  height: 40px;
  border: none;
  border-right: 1px #E0E0E0 solid;
  background: #F1F1F1;
  padding-right: 26px;
}

.header-content .entrance__img {
  cursor: pointer;
  outline: none;
}

.header-content .entrance__img:hover {
  -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 242, 127, 0.966));
          filter: drop-shadow(0 0.2rem 0.25rem rgba(255, 242, 127, 0.966));
}

.header-content .entrance__link {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.header-content .entrance__link:hover {
  text-decoration: underline;
  color: #065188;
}

.header-content .entrance__btn {
  width: 166px;
  height: 40px;
}

.header-content .entrance__arrow {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.logo {
  font-family: 'Futura Std Bold';
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -2px;
  text-decoration: none;
  color: #EE3023;
  margin-top: 36px;
  cursor: pointer;
}

.logo_light {
  font-family: 'Futura Std Light';
  font-size: 50px;
  font-weight: 200;
  color: #444444;
  margin-left: 12px;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #fff;
  margin-top: 0;
}

.logo-footer_light {
  font-size: 30px;
  color: #fff;
}

.button {
  background: -webkit-gradient(linear, left bottom, left top, from(#E52D22), to(#FA837F));
  background: linear-gradient(to top, #E52D22, #FA837F);
  border: 1px #E82026 solid;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#d4140a), to(#f77671));
  background: linear-gradient(to top, #d4140a, #f77671);
}

.menu {
  width: 100%;
  background: #FFFFFF;
  border: 1px #E6E6EB solid;
  padding: 17px 40px;
  position: relative;
  margin-top: -53px;
  z-index: 10;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding-left: 0;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  list-style-type: none;
  border-right: 1px #D6D1C7 solid;
  padding-right: 30px;
}

.menu__item:nth-last-child(-n+2) {
  border-right: none;
}

.menu__link {
  font-family: 'Gotham';
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
}

.menu__link:hover {
  color: #065188;
}

.menu__search {
  padding-left: 27px;
}

.menu-footer {
  background: none;
  border: none;
  margin-top: 0;
}

.menu-footer__item {
  height: 15px;
  padding-right: 10px;
}

.menu-footer__item:nth-child(5) {
  border-right: 1px #D6D1C7 solid;
}

.menu-footer__link {
  font-size: 15px;
  font-weight: normal;
  text-transform: initial;
  color: #fff;
}

.menu-footer__link:hover {
  color: #5C4344;
}

.search {
  width: 200px;
  height: 25px;
  line-height: 29px;
  color: #444444;
  border: 1px #D6D1C7 solid;
  border-radius: 50px;
  background: url("../icon/Loupe-icon.png");
  background-position: 5% 50%;
  background-repeat: no-repeat;
}

.carousel {
  font-family: 'Gotham';
  height: 676px;
  background: #9CCD8D;
  padding: 0 100px;
  margin-top: -20px;
}

.carousel .carousel-inner .slider {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 6em;
}

.carousel .carousel-inner .slider__img {
  z-index: 1;
}

.carousel .carousel-inner .slider__text {
  margin: -1.4rem -2.7rem 0 0;
  z-index: 99;
}

.carousel .carousel-inner .slider__title {
  font-size: 164px;
  line-height: 110px;
  margin-bottom: 0;
  margin-top: 196px;
}

.carousel .carousel-inner .slider__title2 {
  font-size: 141px;
  line-height: 90px;
  margin-left: 0.05em;
}

.carousel .carousel-inner .slider__subtitle {
  font-size: 70px;
  line-height: 74px;
  font-weight: normal;
  color: #fff;
  margin: 0 0 0 0.25em;
}

.carousel .carousel-inner .slick-next {
  width: 80px;
  height: 80px;
  background: #fff url("/src/icon/Arrow4.png") 58% center no-repeat;
  border: 5px solid #414A3E;
  border-radius: 50%;
}

.carousel .carousel-inner .slick-next::before {
  content: '';
}

.carousel .carousel-inner .slick-prev {
  width: 80px;
  height: 80px;
  background: #fff url("/src/icon/Arrow3.png") 42% center no-repeat;
  border: 5px solid #414A3E;
  border-radius: 50%;
  z-index: 99;
}

.carousel .carousel-inner .slick-prev::before {
  content: '';
}

.getnow-btn {
  width: 219px;
  height: 35px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  background: #E82026;
  border: 1px #DA5840 solid;
  border-radius: 20px;
  margin: 9px 0 0 17px;
  cursor: pointer;
}

.getnow-btn__inner {
  width: 60%;
  height: 100%;
  letter-spacing: 2px;
  color: #fff;
  background: none;
  background: url("/src/icon/Arrow1X.png") right center no-repeat;
  border: none;
  border-left: 2px #D9100C solid;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.getnow-product {
  width: 176px;
  height: 29px;
  font-size: 12px;
  margin: 0 auto;
}

.getnow-product__inner {
  width: 55%;
  font-size: 12px;
  background-size: 7%;
}

.catalog {
  width: 100%;
  height: auto;
  background: #F2F2F2;
}

.catalog-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}

.catalog-inner__item {
  width: 362px;
  height: 385px;
  text-align: center;
  background: #fff;
  border: 1px solid #E6E6EB;
  padding: 27px 0 13px;
  margin-top: -53px;
}

.catalog-inner__title {
  font-family: 'Futura Std Light';
  font-size: 30px;
  letter-spacing: 2px;
}

.catalog-inner__background {
  width: 173px;
  height: 173px;
  border-radius: 50%;
  margin: 16px auto 20px auto;
}

.catalog-inner__background-first {
  background: url("/src/img/Layer21@1X.png");
  background-position: 40% 70%;
}

.catalog-inner__background-second {
  background: url("/src/img/Layer20@1X.png");
  background-position: 59% 45%;
}

.catalog-inner__background-third {
  background: url("/src/img/Layer22@1X.png");
  background-position: 40% 25%;
}

.catalog-inner__icon {
  opacity: 0.9;
}

.catalog-inner__icon-1 {
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

.catalog-inner__icon-2 {
  -webkit-transform: translateY(140%);
          transform: translateY(140%);
}

.catalog-inner__icon-3 {
  -webkit-transform: translateY(140%);
          transform: translateY(140%);
}

.catalog-inner__total {
  font-family: 'Gotham', sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #F2262C;
}

.catalog-inner__count {
  font-size: 12px;
}

.catalog-product__item {
  width: 182px;
  height: 236px;
  border: none;
  margin-top: 0;
}

.catalog-product__title {
  font-size: 20px;
}

.catalog-product__background {
  width: 104px;
  height: 104px;
}

.catalog-product__background-first {
  background-size: 100%;
}

.catalog-product__background-second {
  background-size: 350%;
  background-position: 59% 100%;
}

.catalog-product__background-third {
  background-size: 100%;
}

.catalog-product__icon-1 {
  width: 50%;
}

.catalog-product__icon-2 {
  width: 60%;
}

.catalog-product__icon-3 {
  width: 60%;
}

.catalog-product__total {
  font-size: 16px;
}

.catalog-product__count {
  font-size: 10px;
}

.hamburger {
  width: 100%;
}

.hamburger__list {
  position: relative;
  width: 17px;
  height: 12px;
  padding-left: 1.25em;
  margin: 0 auto;
  margin-top: 5px;
  cursor: pointer;
}

.hamburger__list_click .hamburger__item-top {
  top: 6px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.hamburger__list_click .hamburger__item-middle {
  visibility: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.hamburger__list_click .hamburger__item-middle2 {
  visibility: hidden;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.hamburger__list_click .hamburger__item-bottom {
  top: 6px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.hamburger__item {
  position: absolute;
  left: 0;
  border-top: 2px solid #614261;
  width: 80%;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}

.hamburger__item-top {
  top: 0;
}

.hamburger__item-middle {
  top: 3px;
}

.hamburger__item-middle2 {
  top: 6px;
}

.hamburger__item-bottom {
  top: 9px;
}

.hamburger-catalog__list {
  width: 10px;
  height: 8px;
}

.selection-menu {
  width: 284px;
  height: 236px;
  background: #fff;
  padding: 15px 0;
  margin: 10px auto 0 auto;
}

.selection-menu__title {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.selection-menu__hamburger {
  display: none;
  border: 1px #E6E6EB solid;
}

.menu-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-lists__list {
  list-style-type: none;
  padding: 0;
}

.menu-lists__list-1 {
  border-right: 2px #E6E6EB solid;
  padding-right: 34px;
}

.menu-lists__list-2 {
  padding-left: 34px;
}

.menu-lists__item {
  text-align: right;
}

.menu-lists__link {
  text-decoration: none;
  color: #5C4344;
}

.menu-lists__link:hover {
  color: #000;
}

.special-products {
  background: #F2F2F2;
  padding: 30px 0 95px 0;
}

.special-products .text-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special-products .text-top__title {
  font-size: 20px;
  letter-spacing: 1px;
  color: #000;
  margin: 0;
}

.special-products .text-top__title_color {
  font-size: 20px;
  letter-spacing: 1px;
  color: #EE3023;
}

.special-products .text-top__link {
  font-style: italic;
  font-size: 14px;
  text-decoration: none;
  color: #626162;
  background: url("/src/icon/Arrow@1X.png") left 35% no-repeat;
  padding-left: 10px;
  margin-right: 25px;
}

.special-products .text-top__link:hover {
  text-decoration: underline;
}

.special-products__wrapper {
  background: #fff;
  padding: 31px 13px 38px 13px;
}

.special-products .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  display: block;
  width: 233px;
  height: 332px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #f0eeee;
  border-radius: 5px;
  padding: 14px 0 16px 0;
  margin-top: 17px;
  cursor: pointer;
}

.product:hover {
  border: 5px solid #FE3C32;
}

.product__logo {
  height: 47px;
}

.product__img {
  width: 198px;
  height: 170px;
  border-bottom: 2px solid #E6E6EB;
  margin: 0 auto;
}

.product__img_1 {
  background: url("/src/img/1.jpg") center 85% no-repeat;
}

.product__img_2 {
  background: url("/src/img/5.jpg") center 85% no-repeat;
}

.product__img_3 {
  background: url("/src/img/3.jpg") center 85% no-repeat;
}

.product__img_4 {
  background: url("/src/img/2.jpg") center 85% no-repeat;
}

.product__img_5 {
  background: url("/src/img/4.jpg") center 85% no-repeat;
}

.product__img_6 {
  background: url("/src/img/6.jpg") center 85% no-repeat;
}

.product__img_7 {
  background: url("/src/img/7.jpg") center 85% no-repeat;
}

.product__img_8 {
  background: url("/src/img/8.jpg") center 85% no-repeat;
}

.product__text {
  color: #6A6A6A;
  margin: 12px 0 9px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
  background: #F2262C;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
}

.footer .social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31px;
  height: 31px;
  text-decoration: none;
  background: #fff;
  border-radius: 3px;
  margin: 0 4px;
}

.footer .social__icon i {
  font-size: 22px;
  text-align: center;
  color: #F2262C;
  -webkit-filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.filter {
  background: #F2F2F2;
  padding-top: 20px;
  margin-top: -53px;
}

.filter__title {
  width: 93px;
  height: 29px;
  background: #2A2929;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  line-height: 29px;
  margin: 49px 0 0 12px;
}

.filter__title h3 {
  margin-top: 0;
}

.filter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  padding: 20px;
}

.color__title {
  font-family: 'Gotham', sans-serif;
}

.color__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 210px;
}

.color__btn {
  width: 21px;
  height: 21px;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.color__btn-1 {
  background: #E82026;
}

.color__btn-2 {
  background: #F9A058;
}

.color__btn-3 {
  background: #58A8F9;
}

.color__btn-4 {
  background: #DBE47B;
}

.color__btn-5 {
  background: #610B0E;
}

.color__btn-6 {
  background: #781C70;
}

.color__btn-7 {
  background: #1B334C;
}

.color__btn-8 {
  background: #517737;
}

.color__btn-9 {
  background: #7520E8;
}

.color__btn-10 {
  background: #4C3D31;
}

.color__btn-11 {
  background: #060606;
}

.color__btn-12 {
  background: #1A6A0B;
}

.color__btn-13 {
  background: #A0629F;
}

.color__btn-14 {
  background: #074A74;
}

.color__btn-15 {
  background: #BEADAD;
}

.color__btn-16 {
  background: #F65812;
}

.color__btn-17 {
  background: #C4DA0F;
}

.color__btn-18 {
  background: #377377;
}

.color__btn-19 {
  background: #BD8B7A;
}

.slider-range {
  z-index: 10;
}

.slider-range__title {
  font-family: 'Gotham', sans-serif;
  margin-top: 28px;
}

.slider-range #slider-range {
  background: -webkit-gradient(linear, left bottom, left top, from(#E1E1DA), to(#C2C2BC));
  background: linear-gradient(to top, #E1E1DA, #C2C2BC);
  border: 1px solid #C2C2BC;
}

.slider-range__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.slider-range__amount-left, .slider-range__amount-right {
  width: 51px;
  height: 26px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background: #E71F25;
  position: absolute;
  top: 17px;
  padding: 3px 0;
}

.slider-range__amount-left::before, .slider-range__amount-right::before {
  content: '';
  position: absolute;
  top: -43%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 6px solid transparent;
  border-bottom: 8px solid #E71F25;
}

.slider-range__amount-left {
  left: -170%;
}

.slider-range__amount-right {
  left: -190%;
}

.slider-range .ui-slider-horizontal {
  height: 7px !important;
}

.slider-range .ui-widget-header {
  background: #E71F25;
}

.slider-range .ui-slider .ui-slider-handle {
  width: 13px;
  height: 13px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.slider-range .ui-slider .ui-slider-handle:focus {
  background: #f6f6f6;
  border: 1px solid #c5c5c5;
}

.slider-range .ui-state-default {
  border-radius: 50%;
}

.slider-range .ui-slider-horizontal .ui-slider-range {
  height: 7px;
  margin-top: -1px;
}

.slider-range .ui-slider-horizontal .ui-slider-handle {
  top: -0.25em;
}

.card-product {
  background: #F2F2F2;
  padding-top: 42px;
}

.card-product__title {
  font-family: 'Gotham';
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
}

.card-product__subtitle {
  font-family: 'Gotham';
  line-height: 14px;
  font-weight: 400;
  margin: 8px 0 0 0;
}

.card-product__photo {
  width: 468px;
  height: 405px;
  border: 1px solid #f0eeee;
  background: #fff;
  text-align: center;
  padding-top: 53px;
  margin-top: 13px;
}

.card-product__photo-logo {
  width: 229px;
  margin-top: 40px;
}

.card-product__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 468px;
  margin-top: 10px;
}

.card-product__small-img {
  width: 149px;
  height: 121px;
  border: 1px solid #f0eeee;
}

.card-product__small-img:hover {
  border: 5px solid #FE3C32;
  cursor: pointer;
}

.card-product__wrapper-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-product__old-price {
  width: 135px;
  height: 32px;
  background: #FE3C32;
  font-family: 'Futura Std Light';
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  padding: 6px;
  margin: -25px 0 0 186px;
}

.card-product__new-price {
  width: 321px;
  height: 69px;
  font-family: 'Futura Std Bold';
  font-size: 60px;
  line-height: 66px;
  font-weight: 700;
  text-align: center;
  color: #444444;
  background: #fff;
  border: 1px solid #E6E6EB;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  margin-top: 4px;
}

.card-product__text {
  text-align: right;
  color: #929191;
}

.card-product__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #605F5F;
  margin-top: 27px;
}

.card-product__size {
  font-style: italic;
  font-weight: 700;
}

.card-product__select-size {
  width: 137px;
  height: 35px;
  border: 1px solid #E6E6EB;
  border-radius: 5px;
  font-style: italic;
  color: #605F5F;
  background: #fff;
  padding: 7px 0 7px 10px;
  margin-right: 18px;
}

.card-product__qty {
  font-style: italic;
}

.card-product__select-qty {
  width: 49px;
  height: 35px;
  border: 1px solid #E6E6EB;
  border-radius: 5px;
  font-style: italic;
  color: #605F5F;
  background: #fff;
  padding: 7px 0 7px 10px;
}

.card-product__btn {
  display: block;
  width: 204px;
  height: 46px;
  text-transform: initial;
  font-family: 'Myriad Pro';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
  background: -webkit-gradient(linear, left bottom, right top, from(#d4140a), to(#f77671));
  background: linear-gradient(to top right, #d4140a, #f77671);
  margin: 16px 0 0 auto;
}

.star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 113px;
}

.star-rating__label {
  margin: 0px;
  padding: 0px;
  width: 19px;
  height: 19px;
}

.star-rating__star {
  width: 19px;
  height: 19px;
  background: url(../icon/Sprite.png);
  background-position: 19px 0;
  -webkit-filter: drop-shadow(-1px -1px 0 rgba(0, 0, 0, 0.4));
          filter: drop-shadow(-1px -1px 0 rgba(0, 0, 0, 0.4));
  margin-right: 3px;
  cursor: pointer;
}

.star-rating__star:hover, .star-rating__star:hover ~ .star-rating__star {
  background-position: 0 0;
}

.star-rating__input {
  display: none;
  margin: 0px;
  padding: 0px;
  width: 19px;
  height: 19px;
}

.star-rating__input:checked, .star-rating__input:checked ~ .star-rating__star {
  background-position: 0 0;
}

.star-rating__text {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

.star-rating__text-2 {
  font-size: inherit;
  font-weight: 700;
}

.save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -13px 0 0 60px;
}

.save__text {
  font-family: 'Futura Std Medium';
  font-size: 16px;
  font-weight: 400;
}

.save__text-2 {
  font-family: 'Futura Std Bold';
}

.shipping {
  font-weight: 600;
  text-align: end;
  vertical-align: middle;
  color: #3E3E3E;
}

.share {
  position: absolute;
  text-align: right;
  margin-top: 38px;
  right: 0;
}

.share__text {
  font-size: 14px;
  font-weight: 700;
}

.share__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 31px;
  background: #fff;
  border-radius: 5px;
  margin-top: 3px;
}

.share__img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.share__img-1 {
  background: url("../icon/facebook.svg");
}

.share__img-2 {
  background: #EBECEC url("../icon/twitter.svg") center no-repeat;
  background-size: 80%;
  border: 1px solid #E6E6EB;
}

.share__img-3 {
  background: url("../icon/mail.svg") center/cover;
  background-size: 140%;
  opacity: .3;
  border: 1px solid #2c2c2c;
}

.share__img-4 {
  background: url("../icon/print.svg") center;
  opacity: .8;
}

.share__img-5 {
  background: #EE6F4A;
  padding: 5px;
}

.share__img-plus {
  text-align: center;
  background: #fff;
  height: 15px;
  width: 3px;
  position: relative;
  left: 6px;
}

.share__img-plus::after {
  content: "";
  height: 3px;
  width: 15px;
  background: #fff;
  position: absolute;
  left: -6px;
  top: 6px;
}

.share__sbscr {
  position: relative;
  width: 50px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #C1C1C1;
  padding: 3px;
}

.share__sbscr::after {
  content: "<";
  color: #C1C1C1;
  position: absolute;
  left: -10px;
}

.share__sbscr-text {
  font-size: 14px;
  font-weight: 600;
  color: #3E3E3E;
}

.product-menu {
  background: #F2F2F2;
  padding-top: 49px;
}

.product-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.product-menu__item {
  width: 206px;
  height: 51px;
  font-family: 'Gotham';
  background: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border: 1px solid #f0eeee;
  padding: 17px 0;
  margin-right: 6px;
  cursor: pointer;
}

.product-menu__item:hover, .product-menu__item .product-menu__item:focus {
  background: #EE2D23;
  color: #fff;
  text-shadow: 2px 1px 2px black;
}

.product-menu__item_active {
  background: #EE2D23;
  color: #fff;
  text-shadow: 2px 1px 2px black;
}

.product-descr {
  background: #F2F2F2;
  padding-bottom: 97px;
}

.product-descr .product-text {
  color: #605F5F;
  background: #fff;
  border: 1px solid #f0eeee;
  padding: 40px 27px;
}

.product-descr .product-text__title {
  font-size: 20px;
  text-transform: uppercase;
}

.product-descr .product-text__subtitle {
  color: #F2262C;
  text-transform: uppercase;
  margin-top: 36px;
}

.product-descr .product-text__descr_bold {
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */